<mat-card *ngFor="let poi of pointsOfInterest">
    <mat-card-header>
        <img *ngIf="poi.avatar.value[0]" mat-card-avatar src="{{poi.avatar.value[0].url}}" alt="{{poi.avatar.value[0].description || poi.avatar.value[0].name}}" />
        <mat-card-title>{{poi.title.value}}</mat-card-title>
        <mat-card-subtitle> &nbsp;</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content innerHTML="{{poi.description.value}}">
    </mat-card-content>
    <mat-card-actions>
        <button (click)="showPointOfInterest(poi)" mat-button><mat-icon>input</mat-icon></button>
        <button (click)="openMap(poi)" mat-button><mat-icon>map</mat-icon></button>
    </mat-card-actions>
</mat-card>