<mat-card *ngFor="let poi of pointsOfInterest">
    <mat-card-header>
        <img *ngIf="poi.pictures.value[0]" mat-card-avatar src="{{poi.pictures.value[0].url}}" alt="{{poi.pictures.value[0].description || poi.pictures.value[0].name}}" />
        <mat-card-title>{{poi.title.value}}</mat-card-title>
        <mat-card-subtitle> &nbsp;</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content innerHTML="{{poi.description.value}}">
    </mat-card-content>
    <mat-card-actions>
        <button (click)="showPointOfInterest(poi)" mat-button><mat-icon>launch</mat-icon></button>
        <button mat-button><mat-icon>map</mat-icon></button>
    </mat-card-actions>
</mat-card>